*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
div{
	width: 18%;
	padding: 0px ;
	border: #EA7D50 2px solid;
}
h3{
	font-size: 20px;
	padding: 10px 0px 20px 0px;
}
p{
	font-size: 18px;
	padding: 10px 0px 20px 0px;
}